<div>
  <span>Dashboard</span>
</div>

<!-- <div id="dashboard" class="page-layout carded" fusePerfectScrollbar>
  <div class="center" fxLayout="column" fxLayoutGap="10px">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Order Fulfilment</b></h3>
      </div>
      <div fxFlex align="end">
        <span><img src="../../../../assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div>
    </div>
    <div fxFlex fxLayout >
      <div class="tile mx-20" fxFlex="17" fxLayout="column" fxLayoutAlign="start">
        <div fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8"> Time In Full (OTIF)</span>
        </div>
        <div fxFlex fxLayoutAlign="center" class="pt-8">
          <svg height="140" width="140" viewBox="0 0 140 140" class="progress__svg">
            <circle class="progress__meter" [style.strokeDasharray]="2" cx="70" cy="70" [attr.r]="radius"
              stroke-width="10" />
            <circle class="progress__value" [style.strokeDasharray]="circumference"
              [style.strokeDashoffset]="1-dashoffset1" cx="70" cy="70" [attr.r]="radius" stroke-width="10" />
            <circle r="49" cx="70" cy="70" stroke="#f3705a" stroke-width="2" fill="none" class="inner-circle" />
            <text text-anchor="middle" alignment-baseline="middle" transform="rotate(90,70,70)">
              <tspan x="70" y="70" dy="0.18em" font-size="20">{{progressPercentage1}}%</tspan>
              <tspan x="70" y="70" dy="1.82em" font-size="10" class="progressSubtitle">Effiency</tspan>
            </text>
          </svg>
        </div>
      </div>
      <div class="tile mx-20" fxFlex="17" fxLayout="column" fxLayoutAlign="start">
        <div fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8"> Quality Index</span>
        </div>
        <div fxFlex fxLayoutAlign="center" class="pt-8">
          <svg height="140" width="140" viewBox="0 0 140 140" class="progress__svg">
            <circle class="progress__meter" [style.strokeDasharray]="2" cx="70" cy="70" [attr.r]="radius"
              stroke-width="10" />
            <circle class="progress__value" [style.strokeDasharray]="circumference"
              [style.strokeDashoffset]="1-dashoffset2" cx="70" cy="70" [attr.r]="radius" stroke-width="10" />
            <circle r="49" cx="70" cy="70" stroke="#f3705a" stroke-width="2" fill="none" class="inner-circle" />
            <text text-anchor="middle" alignment-baseline="middle" transform="rotate(90,70,70)">
              <tspan x="70" y="70" dy="0.18em" font-size="20">{{progressPercentage2}}%</tspan>
            </text>
          </svg>
        </div>
      </div>
      <div class="tile mx-20" fxFlex="25" fxLayout="column" fxLayoutAlign="start">
        <div fxLayoutAlign="start center" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8"> Fulfilment </span>
        </div>
        <div id="doughnutChart" fxFlex fxLayoutAlign="start" class="pt-8 pl-8 pr-4">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
            [options]="doughnutChartOptions" [colors]="colors">
          </canvas>
        </div>
        <div fxFlex fxLayout fxLayoutAlign="end center">
          <div fxFlex class="doughnutChartPosition boldClass"> Fulfilment status </div>
        </div>
      </div>
      <div class="tile mx-20" fxFlex="41" fxLayout="column" fxLayoutAlign="start">
        <div fxLayoutAlign="start" class="pt-8">
          <span class="boldClass orangeBorderBottom pl-8"> Delivery status </span>
        </div>
        <div id="barChart" fxFlex fxLayoutAlign="start" class="pt-0 px-8">
          <canvas #barCanvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" [colors]="barColors">
          </canvas>
        </div>
      </div>
    </div>
    <div class="sidenav-content px-24 mt-4" fxFlex>
      <form class="formGroupStyle" autocomplete="off" fxFlex name="form" [formGroup]="poFormGroup" novalidate>
        <div FxLayout="row" class="formRowStyle" fxLayout.xs="column">
          <div fxFlex="21%">
            <mat-form-field>
              <input matInput placeholder="From date" [matDatepicker]="picker1" formControlName="FromDate"
                (dateChange)="DateSelected()">
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <img matDatepickerToggleIcon class="calendarImg" src="assets/images/calendar.png">
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="21%">
            <mat-form-field>
              <input matInput placeholder="To Date" [matDatepicker]="picker2" formControlName="ToDate"
                (dateChange)="DateSelected()">
              <mat-datepicker-toggle matSuffix [for]="picker2">
                <img matDatepickerToggleIcon class="calendarImg" src="assets/images/calendar.png">
              </mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
            
            </mat-form-field>
            <div *ngIf="isDateError" style="color:#f44336;font-size: 12px;margin-top: -16px">
              To date should not be less than from date
            </div>
          </div>
          <div fxFlex="19%">
            <mat-form-field>
              <mat-select style="width:180px" placeholder="Status" formControlName="Status">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let doc1 of Status" [value]="doc1.Value">
                  <span>{{doc1.Name}}</span>
                </mat-option>
              </mat-select>
            
            </mat-form-field>
         
          </div>
          <div fxFlex="64%">
            <button class="mt-4" style="background-color: #efb577;color: white;"
              mat-raised-button (click)="GetAllPOBasedOnDate()">Search</button>
          </div>
        </div>
      </form>
   
    </div>
    <div class="px-20 pb-20">
      <table class="table" mat-table [dataSource]="posDataSource" matSort>

        <ng-container matColumnDef="PO">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> PO </th>
          <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0" style="text-align: right;">
            <div fxLayout>
              <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
              <div fxFlex class="pl-4">{{element.PO}} </div>
            </div>
          </td>
        </ng-container>


        <ng-container matColumnDef="Version">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;"> Version </th>
          <td mat-cell *matCellDef="let element" (click)="Acknowledgement(element.PO)" style="text-align: right;">
            {{element.Version}} </td>
        </ng-container>

        <ng-container matColumnDef="PODate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 8%;"> Date </th>
          <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.PODate | date :'dd/MM/yyyy'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 44%;"> Order Fulfilment Status </th>
          <td mat-cell *matCellDef="let element" style="width:400px">
            <div fxLayout class="mt-4 mr-40 ml-8">
              <div fxFlex="30" fxLayout>
                <div class="round" (click)="Acknowledgement(element.PO)"
                  [style.border-color]="element.Status==='Open'?'#efb577':'#34ad65'"></div>
                <div style="width: 10px;margin-left: -1px !important"
                  [class]="element.Status==='Open'?'orange-timeline':'green-timeline'"></div>
                <div [class]="element.Status==='Open'?'white-timeline':'green-timeline'" fxFlex></div>
              </div>
              <div fxFlex="30" fxLayout>
                <div style="width: 10px;margin-right: -1px !important" [class]="getTimeline(element,'ASN')"></div>
                <div class="round" (click)="Acknowledgement(element.PO)"
                  [style.border-color]="getStatusColor(element,'ASN')"></div>
                <div style="width: 10px; margin-left: -1px !important" [class]="getTimeline(element,'ASN')"></div>
                <div [class]="getRestTimeline(element,'ASN')" fxFlex></div>
              </div>
              <div fxFlex="30" fxLayout>
                <div style="width: 10px;margin-right: -1px !important" [class]="getTimeline(element,'Gate')"></div>
                <div class="round" (click)="Acknowledgement(element.PO)"
                  [style.border-color]="getStatusColor(element,'Gate')"></div>
                <div style="width: 10px;margin-left: -1px !important" [class]="getTimeline(element,'Gate')"></div>
                <div [class]="getRestTimeline(element,'Gate')" fxFlex></div>
              </div>
              <div fxFlex="10" fxLayout>
                <div style="width: 10px;margin-right: -1px !important" [class]="getTimeline(element,'GRN')"></div>
                <div class="round" (click)="Acknowledgement(element.PO)"
                  [style.border-color]="getStatusColor(element,'GRN')"></div>
              </div>
            </div>
            <div fxLayout class="mr-40 ml-8">
              <div fxFlex="30">ACK</div>
              <div fxFlex="30">ASN</div>
              <div fxFlex="30">Gate</div>
              <div fxFlex="10">GRN</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Document">
          <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Document </th>
          <td mat-cell *matCellDef="let element">
        
            <div style="margin-top: 3px; margin-left: 15px;">
              <span matBadge="3" matBadgeColor="accent" matBadgeOverlap="false"></span>
            </div>
            <img style="height: 30px" src="assets/images/attachment.png">
          </td>
        </ng-container>

        <ng-container matColumnDef="NextProcess">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Next Process </th>
          <td mat-cell *matCellDef="let element" style="text-align: left;">
            <span>
              <div [class]="getNextProcess(element)"></div>
              <button style="background-color: #e8ffeb;color: #000000;" mat-button
                (click)="NextProcess(element.NextProcess,element.PO)">{{element.NextProcess}}</button>
              
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef style="width: 10%;">Action </th>
          <td mat-cell *matCellDef="let element;let i= index;" style="text-align: center;">
            <mat-form-field appearance="outline" style="width: 120px;">
              <mat-label ng-mouseenter="$mdMenu.open()">Action</mat-label>
              <mat-select ng-mouseleave="$mdMenu.close()">
                <mat-option value="Acknowledge" (click)="Acknowledgement(element.PO)">ACK</mat-option>
                <mat-option value="POLookup" (click)="PurchaseOrder(element.PO)">PO Lookup</mat-option>
                <mat-option value="ASN" (click)="AdvanceShipment(element.PO)">ASN</mat-option>
                <mat-option value="POFlip" (click)="POFlip(element.PO)">PO Flip</mat-option>
              </mat-select>
            </mat-form-field>
         
          </td>

        </ng-container>

       
        <tr mat-header-row *matHeaderRowDef="posDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: posDisplayedColumns;">
        </tr>
       
      </table>
      <div>
        <mat-paginator [pageSizeOptions]="[500]"></mat-paginator>
      </div>
    </div>


    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div> -->