<div id="chat" class="page-layout carded fullwidth">
  <div class="center">
    <div class="outer" fxLayout>
      <div class="bg"></div>
      <div>
        <h3 style="margin: 0px;padding-left: 10px;"><b>Questionnaire</b></h3>
      </div>
      <!-- <div fxFlex align="end">
        <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
      </div> -->
    </div>
    <div style="padding: 2%;">
      <div style="border: 1px solid #e0e0e0;">
        <div style="background-color: #fffdf9;">
          <button type="button" class="Addbtn" mat-button (click)="AddQuestions()"><img
              src="assets/images/add-button-inside-black-circle.png" style="height: 20px;"><span
              style="margin-left: 10px;">Add Questionnaire</span></button>
        </div>
        <div>
          <form autocomplete="off" name="form" class="normal" novalidate [formGroup]="questionnaireFormGroup">
            <div fxFlex fxLayout="row">
              <div fxFlex="21" class="pr-8" style="padding-top: 25px !important;" fxLayoutAlign="end start">
                <span style="font-size: 13px;">Questionnaire Heading:</span>
              </div>
              <div fxFlex="70">
                <mat-form-field class="pl-8 pr-12" fxLayoutAlign="end start">
                  <input matInput formControlName="QRText">
                  <!-- <mat-error
                    *ngIf="questionnaireFormGroup.get('QRText').touched && questionnaireFormGroup.get('QRText').hasError('required')">
                    Questionnaire is required
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div fxFlex="14">
                <button (click)="SaveQuestionnaire()" style="margin-left: 38%;" class="SaveBtn" mat-button>Save</button>
              </div>
            </div>
          </form>
        </div>
        <div>
          <form autocomplete="off" name="form" class="normal" novalidate [formGroup]="questionnaireGroupFormGroup">
            <div>
              <div fxFlex fxLayout="row">
                <div fxFlex="21" class="pt-8 pr-8" fxLayoutAlign="end start">
                  <span style="font-size: 13px;margin-top: 12px;">Questionnaire Group / Sub - Group:</span>
                </div>
                <div fxFlex="40">
                  <mat-form-field class="pl-8 pr-12" fxLayoutAlign="end start">
                    <input matInput formControlName="QuestionnaireGroup">
                    <!-- <mat-error
                      *ngIf="questionnaireGroupFormGroup.get('QuestionnaireGroup').touched && questionnaireGroupFormGroup.get('QuestionnaireGroup').hasError('required')">
                      Questionnaire Group is required
                    </mat-error> -->
                  </mat-form-field>
                </div>
                <div fxFlex="40">
                  <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                    <mat-select formControlName="QuestionnaireID">
                      <mat-option *ngFor="let Question of AllQuestionnaire" [value]="Question.QRID">
                        {{Question.QRText}}
                      </mat-option>
                    </mat-select>
                    <!-- <mat-error
                      *ngIf="questionnaireGroupFormGroup.get('QuestionnaireID').touched && questionnaireGroupFormGroup.get('QuestionnaireID').hasError('required')">
                      Questionnaire is required</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
              <div fxFlex fxLayout="row">
                <div fxFlex="21" class="pt-8 pr-8" fxLayoutAlign="end start">
                  <span style="font-size: 13px;">Default Expanded:</span>
                </div>
                <div fxFlex="15">
                  <mat-radio-group fxLayout="row" style="margin-top: 5px;margin-left: 10px;"
                    formControlName="DefaultExpanded">
                    <mat-radio-button class="mb-12" value="1">Yes</mat-radio-button>
                    <mat-radio-button class="mb-12" style="margin-left: 20px;" value="0">NO</mat-radio-button>
                  </mat-radio-group>
                  <!-- <mat-error
                    *ngIf="questionnaireGroupFormGroup.get('DefaultExpanded').touched && questionnaireGroupFormGroup.get('DefaultExpanded').hasError('required')">
                    Default Expanded is required</mat-error> -->
                </div>
                <div fxFlex="13">
                  <button (click)="SaveQuestionnaireGroup()" class="SaveBtn1" mat-button>Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div style="padding: 2%;">
      <div style="border: 1px solid #e0e0e0;">
        <div style="background-color: #fffdf9;height: 40px;">
          <button type="button" mat-button style="background-color: #fffdf9;"><span style="margin-left: 10px;">Map
              Questions</span></button>
        </div>
        <div>
          <div fxFlex fxLayout="row">
            <div fxFlex="15" class="pr-8" style="padding-top: 25px !important;" fxLayoutAlign="end start">
              <span style="font-size: 13px;">Select Questionnaire:</span>
            </div>
            <div fxFlex="84">
              <mat-form-field class="pl-8 pr-12" style="width: 100%;">
                <mat-select>
                  <mat-option *ngFor="let Question of AllQuestionnaire" [value]="Question.QRID"
                    (click)="SelectQuestionnaire(Question.QRID)">
                    {{Question.QRText}}
                  </mat-option>
                </mat-select>
                <!-- <mat-error
                  *ngIf="userMainFormGroup.get('Questionnaire').touched && userMainFormGroup.get('Questionnaire').hasError('required')">
                  Questionnaire is required</mat-error> -->
              </mat-form-field>
            </div>
          </div>
        </div>
        <div>
          <div style="margin-top: -27px !important;padding:32px 0px 1px !important;">
            <div fxLayout class="content-card1">
              <div fxFlex="30" class="side-bar">
                <div class="sidenav-header">
                  <mat-toolbar>
                    <mat-toolbar-row fxLayout="row" class="px-8" fxLayoutAlign="space-between center">
                      <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                          <input [(ngModel)]="searchText" type="text" placeholder="Groups" fxFlex>
                          <!-- <mat-icon class="s-16">Search</mat-icon> -->
                        </div>
                      </div>
                    </mat-toolbar-row>
                  </mat-toolbar>
                </div>
                <div class="sidenav-content" fusePerfectScrollbar style="margin-top: 10px;">
                  <div *ngFor="let usr of AllQuestionnaireByGroup">
                    <div [attr.aria-label]="usr.QRGText">
                      <div class="mx-8 mb-8 mt-0 p-8 leftCard" (click)="loadSelectedMenuApp(usr)"
                        [style.border-left-color]="selectQuestionnaireGroupID==usr.QRGID?'#efb577':'#cccccc'">
                        <!-- [style.border-left-color]="selectQuestionnaireGroupID==usr.qrGID?'#efb577':'#cccccc'" -->
                        <div fxLayout fxLayoutAlign="space-between center">
                          <div fxFlex><strong>{{usr.QRGText}}</strong></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="(AllQuestionnaireByGroup | filter: searchText).length === 0" class="no-results-message">
                    <span class="pl-12"> No results..</span>
                  </div>
                </div>
              </div>
              <div class="borderRight1"></div>
              <div fxFlex="70" class="side-bar" style="margin-left: 3%;">
                <div>
                  <div>
                    <div><span style="font-weight: bold;font-size: 17px;">Added Questions</span>
                      <div style="
                          border-bottom: 3px solid #efb577;
                          margin-right: 84%;
                          margin-left: 2%;">
                      </div>
                    </div>
                  </div>
                  <div>
                    <div style="margin-top: 10px;" fusePerfectScrollbar>
                      <div>
                        <div *ngFor="let question of AddedQuestions;let i = index">
                          <div>
                           <span>{{i+1}}.</span> <span style="margin: 0px;padding-left: 20px;font-size: 16px;">{{question.QText}} ?</span>
                          </div>
                          <div fxFlex align="end" style="margin-right: 15%;">
                            <span style="font-size: 20px;" (click)="RemoveQuestion(question.QID)">
                              x
                              <!-- <mat-icon>cancel</mat-icon> -->
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="margin-top: 10%;">
                  <div>
                    <div><span style="font-weight: bold;font-size: 17px;">Pending Questions</span>
                      <div style="
                          border-bottom: 3px solid #efb577;
                          margin-right: 84%;
                          margin-left: 2%;">
                      </div>
                    </div>
                  </div>
                  <div fusePerfectScrollbar>
                    <div style="margin-top: 10px;" *ngFor="let question of UnaddedQuestions;let i = index" fxLayout>
                      <!-- <div>
                        <span style="margin: 0px;padding-left: 20px;">{{question.qText}}</span>
                      </div> -->
                      <div>
                        <mat-checkbox class="example-margin" (change)="onChange(question.QID, $event)"
                          [value]="question.QID">
                          {{question.QText}}
                        </mat-checkbox>
                      </div>
                      <!-- <div fxFlex align="end" style="margin-right: 15%;"> (change)="onChange(question.qid)"
                        <span style="font-size: 20px;">
                          
                          <mat-icon>cancel</mat-icon>
                        </span>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div fxLayout>
                  <div fxFlex align="end" style="margin-top: 10%;">
                    <!-- (click)="AddSelectedQuestions()" -->
                    <button type="submit" class="SaveBtn1" mat-button style="margin-right: 3%;"
                      (click)="AddSelectedQuestions()">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="progressBarPostion" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
  </div>
</div>